.vertical-line {
    border-left: 1px solid #ddd; /* Change the color as needed */
    height: 100%;
    margin-left: 20px; /* Adjust the margin as needed */
  }
  
  .left {
    width: 50%; /* ou ajustez selon vos besoins */
    float: left;
  }
  
  .right {
    width: 50%; /* ou ajustez selon vos besoins */
    float: right;
  }

  .textfield{
    width: 100%;
     
    
  }
  .containeraa {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .green_btnaa {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #3bb19b;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }